header.header
  nav.navbar.navbar-expand-lg.navbar-light.navbar-custom
    .container
      //- Logo Section
      a.navbar-brand(href="/")
        img(src="/images/logo.png", alt="Travel Logo", class="logo")

      //- Toggle button for mobile menu
      button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav")
        span.navbar-toggler-icon

      //- Navigation Menu
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.ms-auto
          li.nav-item
            a.nav-link(href="/") Home
          li.nav-item
            a.nav-link(href="/destinations") Destinations
          li.nav-item
            a.nav-link(href="/tours") Tours
          li.nav-item
            a.nav-link(href="/categories") Travel Catalog
          
          if(user)
            li.nav-item
                a.nav-link(href="/user/logout") Logout
            li.nav-item
                a.nav-link(href="/user/info") #{user.fullName}
          else
              li.nav-item
                  a.nav-link(href="/user/register") Sign Up
              li.nav-item
                  a.nav-link(href="/user/login") Login
